#端口号
server:
  port: 8089
#开启swagger
swagger:
  enable: true
spring:
  profiles:
    # 开发环境
    active: dev
#====================MybatisPlus====================
mybatis-plus:
  # 如果是放在src/main/java目录下 classpath:/com/yourpackage/*/mapper/*Mapper.xml
  # 如果是放在resource目录 classpath:/mapper/*Mapper.xml
  #mapper-locations: classpath*:com/frame/**/**.xml,classpath*:mapping/**/**.xml
  #实体扫描，多个package用逗号或者分号分隔
  typeAliasesPackage: com.zhang.components.**.entity
  global-config:
    #mybatis-plus的logo
    banner: false
    #刷新mapper 调试神器
    db-config:
      #主键类型  0:"数据库ID自增", 1:"用户输入ID",2:"全局唯一ID (数字类型唯一ID)", 3:"全局唯一ID UUID";
      id-type: AUTO
      #数据库前缀
      table-prefix: "tb_"
  configuration:
    #配置返回数据库(column下划线命名&&返回java实体是驼峰命名)，自动匹配无需as（没开启这个，SQL需要写as： select user_id as userId）
    map-underscore-to-camel-case: true
    #配置JdbcTypeForNull, oracle数据库必须配置
#    jdbc-type-for-null: 'null'
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
#    database-id: mysql

# 数据库连接池UI 配置
druid:
  allow: 127.0.0.1
  loginUsername: admin
  loginPassword: 123456
  resetEnable: false

# RSA 公私钥
rsa:
  publicKey: MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCGx4kN8MxDtqTtI0sClb8y8Abxzv2Z5j6QcvUth+RxRRuyio3M05Mag3LgK1TOY6a78y8qdTUEOuOQkNa9diq1A4aTx9S4POFrunaI9mAye57t2bCDsUdmRCuMJSI1iRIs16hUeRWe1G+qJvcTHgn7NmrE2hEUrQn6BOsRvNKlrwIDAQAB
  privateKey: MIICcwIBADANBgkqhkiG9w0BAQEFAASCAl0wggJZAgEAAoGBAIbHiQ3wzEO2pO0jSwKVvzLwBvHO/ZnmPpBy9S2H5HFFG7KKjczTkxqDcuArVM5jprvzLyp1NQQ645CQ1r12KrUDhpPH1Lg84Wu6doj2YDJ7nu3ZsIOxR2ZEK4wlIjWJEizXqFR5FZ7Ub6om9xMeCfs2asTaERStCfoE6xG80qWvAgMBAAECf10vmJMK6i/nGCDdRf+Dia6uRh7p/m1pw9gbo2jXjBrErWHEakY0AoFSYRqc2wXX4HASs4mngABstuo9OjvEd8GuEYJT7upxMnyMY74NL5v2PvXGMzNu/WYkWd2tUFmaMKxuy7PJ2l4cq5yEOh3kY4zIeksKH0MfJE85r0o/n8kCQQDIiPS5tHamB6xWMYb0WpHpMEgFmITU+/lRiJ9xujIHwQPDJ/D83XS9kd3hgv2c2f7uRALqPpQ86V6b2tKeAxOlAkEArA60LU4vsLiV0OxcfRA+AgJJO/9xpoEukKXOSZB4x2fnGClp3zZ+BubgP+bf0XNS0BDzz2cJfI9Zy2wQ7zTDwwJAekaQOn/gbOJ24eO3L13eZHrNH6RdMmUmI+ITnsvy36mAesnq9rSuDz1XNr+hlreR64TK5jwcNXvy9UObcz/bBQJAbFRpryjOMBdYBI39AaUrVXp4/7SqquolFl++zWSQFwTdZMIWbbrSiKfuw20quKZCmsxBpfE68NkU8VZeJy3ynwJAYMkBc6l/4S4wS5NjApW4IAaC/w4LVfWxhgTE3iil97krY4LabZ7qlPNzCt7pjANZu3CcvWqJ6WR3QbBtPWnm4w==

#====================jwt====================
jwt:
  header: Authorization
  base64Secret: MTg0OGU1ZDgtNjc3MC00NmNjLTg3NmQtYjY1Y2ZjNzE3MDJj
  #token有效期 单位：毫秒 两个小时
  expiration: 7200000
  tokenHead: "Bearer "
  codeKey: "code-key—"
  codeExpiration: 3600